.idea
.vs
cmake-build-debug
build
Testing
test/update_quality_tests/GildedRoseUpdateQualityTests.AgedBrieTests_UpdateQualityTestSuite.UpdateQualityVerify_0.received.txt
test/update_quality_tests/GildedRoseUpdateQualityTests.BackstagePassesTests_UpdateQualityTestSuite.UpdateQualityVerify_0.received.txt
test/update_quality_tests/GildedRoseUpdateQualityTests.CommonItemTests_UpdateQualityTestSuite.UpdateQualityVerify_0.received.txt
test/update_quality_tests/GildedRoseUpdateQualityTests.ConjuredTests_UpdateQualityTestSuite.UpdateQualityVerify_0.received.txt
test/update_quality_tests/GildedRoseUpdateQualityTests.SulfurasTests_UpdateQualityTestSuite.UpdateQualityVerify_0.received.txt

